body {
    font-family: 'Quicksand', sans-serif;
}
/*======  FLEXING CONTAINERS STARTS HERE  ======*/
.Name_Container {
    display: flex;
    justify-content: center;
    text-align: center;
    Margin: auto;
    max-width: 60vh;
    padding-top: 22vh;
    padding-bottom: 0vh;

}

.Starter_Container {
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    Margin: auto;
    max-width: 60vh;
    
}

.List_Container {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    min-width: 60vh;
    height: 6vh;
}



/*========== TEXT EDITING STARTS HERE ==========*/
.full_name {
    font-family: 'Poppins', sans-serif;
    flex-wrap: nowrap;
    font-size: 60px;
    font-weight: 200;
    
}
.tldr {
    font-size: 25px;
    padding-left: 1vh;
    font-weight: 500;
    padding-right: 4px;
    
}
.branding_quote{
    text-align:justify;
    min-width: 20px;
    font-size: 18px;
    line-height: 150%;
}

h3 {
    padding-top: 1vh;
    font-weight: 500;
}

/*===============  BUTTONS STARTS HERE  =============*/

.About_Me, .Portfolio, .Resume, .Contact_Me {
    display: flex;
    text-align: center;
    align-items: center;
    height: 3vh;
    border-right: 2px solid rgba(86, 168, 134, 0.575);

}

.about_me_button, .portfolio_button, .resume_button, .contact_me_button{
    width: 18vh;
    height: 6vh;
    /* font-family: 'Baloo Tammudu 2', cursive; */
    font-family: 'Poppins', sans-serif;
    font-size: 110%;
    font-weight: 500;
    border-top: 2px solid rgba(137,214,198,0);
    border-left: 2px solid rgba(137, 214, 198, 0);
    border-bottom: 2px solid rgba(137, 214, 198, 0);
    border-right: 2px solid rgba(137, 214, 198, 0);
    background-color: rgba(137, 214, 198, 0);
    cursor: pointer;
}

.about_me_button {
    border-left: 2.5px solid rgba(86, 168, 134, 0.575);
}
.contact_me_button{
    border-right: 2.5px solid rgba(86, 168, 134, 0.575);
}
.Contact_Me{
    border-right: 2px solid rgba(86, 168, 134, 0)
}

.about_me_button:hover,
.portfolio_button:hover,
.resume_button:hover,
.contact_me_button:hover {
    /* transition-duration: 17ms; */
    transition-delay: 50ms;
    font-size: 145%;
    font-weight: 400;
}



/*==========  MODALS CSS STARTS HERE  =========== */
/*------  ABOUT ME MODAL  ------ */
.About_Me_Modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, .4);
}

.About_Me_Modal_Content {
    background-color: #f4f4f4;
    margin: 20% auto;
    padding: 20px;
    width: 70%;
    box-shadow: 0 5px 8px 0, rgba(0, 0, 0, .1), 0 7px 20px 0 rgba(0, 0, 0, .1);
}

/*-----------  PORTFOLIO MODAL  ----------- */
.Portfolio_Modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, .4);
}

.Portfolio_Modal_Content {
    background-color: #f4f4f4;
    margin: 20% auto;
    padding: 20px;
    width: 70%;
    box-shadow: 0 5px 8px 0, rgba(0, 0, 0, .1), 0 7px 20px 0 rgba(0, 0, 0, .1);
}

/*-----------  RESUME MODAL  ----------- */
.Resume_Modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, .4);
}

.Resume_Modal_Content {
    background-color: #f4f4f4;
    margin: 20% auto;
    padding: 20px;
    width: 70%;
    box-shadow: 0 5px 8px 0, rgba(0, 0, 0, .1), 0 7px 20px 0 rgba(0, 0, 0, .1);
}

/*-----------  CONTACT ME MODAL  ----------- */
.Contact_Me_Modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, .4);
}

.Contact_Me_Content {
    background-color: #f4f4f4;
    margin: 20% auto;
    padding: 20px;
    width: 70%;
    box-shadow: 0 5px 8px 0, rgba(0, 0, 0, .1), 0 7px 20px 0 rgba(0, 0, 0, .1);
}

/*==========  MODALS CONTENT  =========== */

/*===== Modal Exit Button ===== */

.modal_exit_button {
    color: #ccc;
    float: right;
    border: none;
    font-size: 20px;
}

.modal_exit_button:hover,
.modal_exit_button:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}