body {
    font-family: 'Quicksand', sans-serif;
    max-width: 1200px;
    max-height: 800px;
    margin: 30vh auto;
}

/*======  FLEXING CONTAINERS STARTS HERE  ======*/
.Name_Container {
    display: flex;
    justify-content: center;
    text-align: center;
}

.Starter_Container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    Margin: 0% auto;
    max-width: 700px;

}

.List_Container {
    display: inline-flex;
    height: 20px;
    padding-bottom: 15px;
    padding-top: 12px;
}

/*===============  BUTTONS STARTS HERE  =============*/

/*----------  NAVIGATION BUTTON (FRONT PAGE)  ---------*/
.About_Me,
.Portfolio,
.Resume,
.Contact_Me {
    display: inline-flex;
    text-align: center;
    align-items: center;
    max-width: 170px;
    min-width: 150px;
    height: 28px;
    border-right: 2px solid rgba(80, 155, 124, 0.575);
}

.Contact_Me {
    border-right: 2px solid rgba(86, 168, 134, 0);
    flex-wrap: nowrap;
}


/*--------  NAVIGATION BUTTONS (FRONT PAGE)  ---------*/
.about_me_button,
.portfolio_button,
.resume_button,
.contact_me_button {
    width: 11vw;
    max-width: 170px;
    min-width: 150px;
    height: 45px;
    max-height: 45px;
    flex-wrap: nowrap;
    font-family: 'Poppins', sans-serif;
    font-size: 95%;
    font-weight: 500;
    border-top: 0px solid rgba(137, 214, 198, 0);
    border-left: 0px solid rgba(137, 214, 198, 0);
    border-bottom: 0px solid rgba(137, 214, 198, 0);
    border-right: 0px solid rgba(137, 214, 198, 0);
    background-color: rgba(137, 214, 198, 0);
    cursor: pointer;
}

.about_me_button {
    border-left: 2.2px solid rgba(80, 155, 124, 0.575);
}

.contact_me_button {
    border-right: 2.2px solid rgba(80, 155, 124, 0.575);
    flex-wrap: nowrap;
}


.about_me_button:hover,
.portfolio_button:hover,
.resume_button:hover,
.contact_me_button:hover {
    flex-wrap: nowrap;
    transition-duration: 25ms;
    transition-delay: 25ms;
    font-size: 115%;
    font-weight: 400;
}

/* ---------  NAVIGATION BUTTONS (FOOTER)  ------- */
.Modal_Footer_Nav {
    display: inline-flex;
    justify-content: center;
    width: 200px;
    min-width: 450px;
    min-height: 20px;
}

.footer_nav_left,
.footer_nav_right {
    display: inline;
    margin-top: 20px;
}

.footer_nav_left {
    padding-right: 50px;
}

.footer_nav_right {
    padding-left: 45px;
}

.footer_nav_resume,
.footer_nav_contact_me,
.footer_nav_about_me,
.footer_nav_portfolio {
    justify-content: space-around;
    width: 110px;
    height: 35px;
    max-height: 40px;
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 15px;
    /* flex-wrap: nowrap; */
    font-family: 'Poppins', sans-serif;
    font-size: 90%;
    font-weight: 500;
    background-color: rgba(205, 199, 195, .0);
    border-right: 1px solid rgba(205, 198, 195, 0);
    border-top: 1px solid rgba(205, 198, 195, 0);
    border-left: 1px solid rgba(205, 198, 195, 0);
    border-bottom: 1px solid rgba(205, 198, 195, 0);
    /* border-radius: 3px; */
    cursor: pointer;
}

.Portfolio_Modal_Content>.footer_nav_left,
.footer_nav_right {
    margin-top: 50px;
}

.footer_nav_resume:hover,
.footer_nav_contact_me:hover,
.footer_nav_about_me:hover,
.footer_nav_portfolio:hover {
    color: #ca855d;
    font-size: 100%;
    font-weight: 600;
    text-decoration: none;
    cursor: pointer;
}

/* ------------  EXIT BUTTONS  --------------- */

.modal_exit_button {
    display: flex;
    justify-content: first baseline;
    position: absolute;
    text-align: center;
    height: 35px;
    width: 35px;
    margin-top: 2px;
    margin-right: 4px;
    background-color: rgba(0, 0, 0, .0);
    color: rgb(53, 93, 97);
    top: 0;
    right: 0;
    border: none;
    font-size: 30px;
}

.modal_exit_button:hover,
.modal_exit_button:focus {
    color: #de9d77;
    font-weight: 500;
    text-decoration: none;
    cursor: pointer;
}

/*=========  MODALS CSS STARTS HERE  ========== */

/*------  ABOUT ME MODAL  ------ */
.About_Me_Modal {
    display: none;
    position: fixed;
    top: 10vh;
    max-width: 1200px;
    min-width: 100px;
    max-height: 825px;
    min-height: 625px;
    height: 825px;
    width: 1200px;
    background-color: rgba(0, 0, 0, 0.0);
}

.About_Me_Modal_Content {
    display: block;
    position: fixed;
    background-color: rgba(195, 221, 224, 0.95);
    width: 450px;
    height: 600px;
    margin-right: 150px;
    margin-left: 625px;
    margin-top: 30px;
    box-shadow: 0 5px 8px 0, rgba(0, 0, 0, .1), 0 7px 20px 0 rgba(0, 0, 0, .1);
}

/*-----------  PORTFOLIO MODAL  ----------- */
.Portfolio_Modal {
    display: none;
    position: fixed;
    top: 10vh;
    max-width: 1200px;
    min-width: 100px;
    max-height: 825px;
    min-height: 625px;
    height: 825px;
    width: 1200px;
    background-color: rgba(0, 0, 0, 0.0);
}

.Portfolio_Modal_Content {
    display: block;
    position: fixed;
    background-color: rgba(195, 221, 224, 0.95);
    width: 450px;
    height: 600px;
    margin-right: 150px;
    margin-left: 625px;
    margin-top: 30px;
    box-shadow: 0 5px 8px 0, rgba(0, 0, 0, .1), 0 7px 20px 0 rgba(0, 0, 0, .1);
}

/*-----------  RESUME MODAL  ----------- */
.Resume_Modal {
    display: none;
    position: fixed;
    top: 10vh;
    max-width: 1200px;
    min-width: 100px;
    max-height: 825px;
    min-height: 625px;
    height: 825px;
    width: 1200px;
    background-color: rgba(0, 0, 0, 0.0);
}

.Resume_Modal_Content {
    display: block;
    position: fixed;
    background-color: rgba(195, 221, 224, 0.95);
    width: 450px;
    height: 600px;
    margin-left: 125px;
    margin-right: 625px;
    margin-top: 130px;
    box-shadow: 0 5px 8px 0, rgba(0, 0, 0, .1), 0 7px 20px 0 rgba(0, 0, 0, .1);
}


/*-----------  CONTACT ME MODAL  ----------- */
.Contact_Me_Modal {
    display: none;
    position: fixed;
    top: 10vh;
    max-width: 1200px;
    min-width: 100px;
    max-height: 825px;
    min-height: 625px;
    height: 825px;
    width: 1200px;
    background-color: rgba(0, 0, 0, 0.0);
}

.Contact_Me_Content {
    display: block;
    position: fixed;
    background-color: rgba(195, 221, 224, 0.95);
    width: 450px;
    height: 600px;
    margin-left: 125px;
    margin-right: 625px;
    margin-top: 130px;
    box-shadow: 0 5px 8px 0, rgba(0, 0, 0, .1), 0 7px 20px 0 rgba(0, 0, 0, .1);

}

.Form_Container {
    display: flex;
    width: 90%;
    height: 100vh;
    align-items: center;
    justify-content: center;

}

.Contact_Me_Form {
    display: flex;
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

/*===============  TEXT EDITING STARTS HERE  ===============*/

form {
    font-family: 'Quicksand', sans-serif;
    display: flex;
    flex-direction: column;
    width: 90%;
    max-width: 400px;
    min-width: 400px;
    padding: 2vw 4vw;
    border-radius: 10px;
}

form input,
form textarea {
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
    border: 0;
    margin: 5px 0;
    padding: 12px;
    outline: none;
}

form button {
    display: flex;
    font-family: 'Quicksand', sans-serif;
    background: #c54f3b;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 12px;
    font-size: 110%;
    font-weight: 500;
    border: 0;
    outline: none;
    cursor: pointer;
    width: 150px;
    margin: 20px auto 0;
    margin-left: 120px;
    border-radius: 12px;
}

.get-in-touch {
    font-size: 120%;
    font-weight: 500;
}

.full_name {
    font-family: 'Poppins', sans-serif;
    flex-wrap: nowrap;
    font-size: 60px;
    font-weight: 200;

}

.tldr {
    font-size: 25px;
    font-weight: 400;
    padding-right: 4px;

}

.branding_quote {
    display: flex;
    text-align: justify;
    width: 80vw;
    max-width: 620px;
    min-width: none;
    max-height: 200px;
    margin-left: 15px;
    margin-right: 15px;
    font-size: 13px;
    line-height: 150%;
    padding-top: 1.5%;
}

.resume1 {
    align-items: center;
    float: top;
    width: 400px;
    height: 450px;
    opacity: .85;
    z-index: 1;
}

.bonus {
    padding-top: 1vh;
    font-weight: 500;
}

/* --------------- INSIDE MODALS CONTENT STARTS HERE --------------- */

.modal_title {
    display: flex;
    justify-content: space-evenly;
    font-size: 160%;
    background-color: rgba(237, 211, 192, 0.75);
    border-right: 3px solid rgba(0, 0, 0, 1);
    border-top: 3px solid rgba(0, 0, 0, 1);
    border-left: 3px solid rgba(0, 0, 0, 1);
    border-bottom: 3px solid rgba(0, 0, 0, 1);
    width: 300px;
    margin: 20px auto;
    border-radius: 10px;
    padding: 12px;
}

.about_me_content,
.portfolio_list_container,
.resume_content,
.Contact_Me_Form {
    justify-content: center;
    text-align: justify;
    width: 400px;
    height: 425px;
    margin-left: 3%;
    margin: 3% auto;
}

/*========== CARD FLIPPING ============*/


.text-center {
    text-align: center;
}

.inner,
color-white {
    color: white;
}

#black {
    color: black;
}

.box-container {
    align-items: flex-start;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    padding: 2px 2px;
    width: 100%;
}

.box-item {
    position: relative;
    flex-wrap: wrap;
    -webkit-backface-visibility: hidden;
    width: 130px;
    margin-bottom: 3px;
    max-width: 100%;
}

.flip-box {
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    perspective: 1000px;
    -webkit-perspective: 1000px;
}

.flip-box:hover {
    cursor: pointer;
}

.flip-box-front,
.flip-box-back {
    background-size: cover;
    background-position: center;
    border-radius: 6px;
    min-height: 155px;
    -ms-transition: transform 0.7s cubic-bezier(.4, .2, .2, 1);
    transition: transform 0.7s cubic-bezier(.4, .2, .2, 1);
    -webkit-transition: transform 0.7s cubic-bezier(.4, .2, .2, 1);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.flip-box-front {
    -ms-transform: rotateY(0deg);
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
    -webkit-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.flip-box.is-flipped .flip-box-front {
    -ms-transform: rotateY(-180deg);
    -webkit-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
    -webkit-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.flip-box-back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;

    -ms-transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
    -webkit-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.flip-box.is-flipped .flip-box-back {
    -ms-transform: rotateY(0deg);
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
    -webkit-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.flip-box .inner {
    position: absolute;
    left: 0;
    width: 100%;
    padding: 0px;
    outline: 1px solid transparent;
    -webkit-perspective: inherit;
    perspective: inherit;
    z-index: 2;
    transform: translateY(-50%) translateZ(60px) scale(.94);
    -webkit-transform: translateY(-50%) translateZ(60px) scale(.94);
    -ms-transform: translateY(-50%) translateZ(60px) scale(.94);
    top: 50%;
}

.flip-box-header {
    font-size: 22px;
}

.flip-box p {
    font-size: 11px;
    line-height: 1.5em;
    font-weight: 500;
}

.flip-box-img {
    margin-top: 4px;
}

.flip-box-button {
    background-color: transparent;
    border: 2px solid #fff;
    border-radius: 2px;
    color: #fff;
    cursor: pointer;
    font-size: 10px;
    font-weight: bold;
    margin-top: 15px;
    padding: 10px 10px;
    text-transform: uppercase;
}

/* ================  FOOTER  ======================= */
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0% auto;
    margin: left 5vh;
    max-width: 10vw;
    min-height: 2vh;
    padding-top: 1vh;
}

a img {
    display: flex;
    justify-content: center;
    min-height: 30px;
    min-width: 30px;
    max-width: 30px;
    max-height: 30px;
    margin: 0% auto;
    background-color: white;
    padding: 5px;
}